.title{
    width: 100%;
    height: 650px;
    margin: 0;
    padding: 0;
}
.background{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.background{       
    content: '';
    background-image:url(../../../../image/bg3.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    opacity: 0.5;

}
.background{
    background-color: #000000ee;
    
}
.background h1 {
    font-size: 50px;
    font-weight: 100;
    position: relative;
    color: #000000;
}
.note{
    height: 100px;
    width: 100%;
    position:relative;
    top:500px;
    align-items: center;
    text-align: center;
    background-color: #f7e5e5;
    padding-top: 10px ;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}
.noteBox{
    align-items: center;
    border: 2px solid #000000;
    height: 80px;
    max-width: 100%;
    padding: 10px;
}
.noteBox p {
    font-family: 'Quicksand', sans-serif;
}
