.login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.login_container {
  width: 450px;
  height: 530px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk {
  display: none;
}
.login_container .signup {
  position: relative;
  width: 100%;
  height: 100%;
}
.login_container label {
  color: #573b8a;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.login_container input {
  width: 60%;
  height: 30px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
}
.login_container button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.login_container button:hover {
  background: #6d44b8;
}
.login_container .login {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-200px);
  transition: 0.8s ease-in-out;
}
.login_container .login label {
  color: #573b8a;
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-530px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}
.login-button {
  display: flex !important;
  align-items: center;
  gap: 10px;
}

.google-logo,
.facebook-logo {
  height: 30px;
}

